{% block footer %} 
    <footer>
        <ul>
            <li>Base Maps: <a href="http://leaflet-extras.github.io/leaflet-providers/preview/" target="_blank"> ESRI WorldTopo Map </a></li>
            <li>Icons: <a href="https://github.com/mapbox/maki" target="_blank">Maki by <a href="https://www.mapbox.com/maki/" target="_blank">MapBox</a></li>
            <li>Powered by: <a href="http://leafletjs.com/" target="_blank"> Leaflet</a></li>
        </ul>
                Compiled by <a href="http://www.ethanlarochelle.com" target="_blank">Ethan LaRochelle </a>
                | <a href="#" target="_blank"> Source Code</a>
    </footer>
{% endblock %}