{% extends "base.html" %}
{% block content %}

    <div id="map"></div>
    <script type="text/javascript">
    
        var MakiIcon12 = L.Icon.extend({
            options: {
                iconSize:     [12, 12],
                popupAnchor:  [0, -5]
            }
        });
        var defaultIcon12 = new MakiIcon12({iconUrl: 'static/css/images/maki/marker-12.svg'});
        var MakiIcon24 = L.Icon.extend({
            options: {
                iconSize:     [24, 24],
                popupAnchor:  [0, -10]
            }
        });
        var churchIcon24 = new MakiIcon24({iconUrl: 'static/css/images/maki/religious-christian-24.svg'});
        var houseIcon24 = new MakiIcon24({iconUrl: 'static/css/images/maki/building-24.svg'});
        var gasIcon24 = new MakiIcon24({iconUrl: 'static/css/images/maki/fuel-24.svg'});
        var medicalIcon24 = new MakiIcon24({iconUrl: 'static/css/images/maki/hospital-24.svg', color: 'red'});
        var routeIcon24 = new MakiIcon24({iconUrl: 'static/css/images/maki/triangle-stroked-24.svg'});
        var schoolIcon24 = new MakiIcon24({iconUrl: 'static/css/images/maki/school-24.svg'});
        var soccerIcon24 = new MakiIcon24({iconUrl: 'static/css/images/maki/soccer-24.svg'});
        var supplyIcon24 = new MakiIcon24({iconUrl: 'static/css/images/maki/grocery-24.svg'});
        var townIcon24 = new MakiIcon24({iconUrl: 'static/css/images/maki/village-24.svg'});
        var waterRoadIcon24 = new MakiIcon24({iconUrl: 'static/css/images/maki/roadblock-24.svg'});
        var waterIcon24 = new MakiIcon24({iconUrl: 'static/css/images/maki/water-24.svg'});
    
        
        
        var map = L.map('map').setView([15.27623, -87.32515], 11);
    
        var Esri_WorldTopoMap = L.tileLayer('http://server.arcgisonline.com/ArcGIS/rest/services/World_Topo_Map/MapServer/tile/{z}/{y}/{x}', {
            attribution: 'Tiles &copy; Esri &mdash; Esri, DeLorme, NAVTEQ, TomTom, Intermap, iPC, USGS, FAO, NPS, NRCAN, GeoBase, and the GIS User Community'
        }).addTo(map);
        /*
        var cloudmade = L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
            attribution: 'Map data OpenStreetMap contributors'
        }).addTo(map);
        */
    
        // control that shows state info on hover
        var info = L.control();
    
        info.onAdd = function (map) {
            this._div = L.DomUtil.create('div', 'info');
            this.update();
            return this._div;
        };
    
        info.update = function (props) {
            this._div.innerHTML = '<h4>Communities</h4>' +  (props ?
                '<utf8sans><b>' + props.ADM2 + '</b></utf8sans><br />' + props.ADM1
                 + '<br /><i>Click to view more information</i>'
                : 'Hover over a community');
        };
    
        info.addTo(map);
        
        geojson_department = L.geoJson(HN_departments, {
            style: department_style
        }).addTo(map);
        
        geojson_admin = L.geoJson(HN_administrative_areas, {
            style: admin_style,
            onEachFeature: onEachFeature
        }).addTo(map);
        
        
    
    
        L.geoJson(GPS_waypoints_MS_2007, {
            onEachFeature: onEachWayPoint,
            pointToLayer: function (feature, latlng) {
                switch (feature.properties.Type) {
                    case 'Gas': 
                        var customIcon = gasIcon24;
                        break;
                    case 'House': 
                        var customIcon = houseIcon24;
                        break;
                    case 'Medical': 
                        var customIcon = medicalIcon24;
                        break;
                    case 'Route': 
                        var customIcon = routeIcon24;
                        break;
                    case 'School': 
                        var customIcon = schoolIcon24;
                        break;
                    case 'Soccer': 
                        var customIcon = soccerIcon24;
                        break;
                    case 'Supplies': 
                        var customIcon = supplyIcon24;
                        break;
                    case 'Town': 
                        var customIcon = townIcon24;
                        break;
                    case 'Water over road': 
                        var customIcon = waterRoadIcon24;
                        break;
                    case 'Water Source': 
                        var customIcon = waterIcon24;
                        break;
                    default:
                         var customIcon = defaultIcon12;
                }
                return L.marker(latlng, {icon: customIcon});
            }
        }).addTo(map);
        
        
        
        
    
    
        map.attributionControl.addAttribution('<a href="http://www.ewb.neu.edu">EWB-NEU</a>'); 
    </script>  
{% endblock %}

