{% block mapsheader %}    
    <script type="text/javascript" src="static/js/HN_administrative_areas.js"></script>
	<script type="text/javascript" src="static/js/HN_departments.js"></script>
	<script type="text/javascript" src="static/js/HN_2007_MS_GPS.js"></script>
	<script type="text/javascript" src="static/js/string_formats.js"></script>
	<script type="text/javascript" src="static/js/load_table.js"></script>
	<script type="text/javascript">
		var geojson_admin, geojson_department;
		
		function admin_style(feature) {
			return {
				weight: 2,
				opacity: .9,
				color: 'white',
				dashArray: '3',
				fillOpacity: 0.1,
				//fillColor: 'blue'
				//fillColor: '#003366'
			};
		}
	    function department_style(feature) {
			return {
				weight: 4,
				color: 'black',
				fill: false
			};
		}
			
		function highlightFeature(e) {
			var layer = e.target;

			layer.setStyle({
				weight: 5,
				color: 'blue',
				dashArray: '',
				fillOpacity: 0.1
			});

			if (!L.Browser.ie && !L.Browser.opera) {
				layer.bringToFront();
			}

			info.update(layer.feature.properties);
		}

		function resetHighlight(e) {
			geojson_admin.resetStyle(e.target);
			info.update();
		}

		function zoomToFeature(e) {
			map.fitBounds(e.target.getBounds());
		}

		function onEachFeature(feature, layer) {
			layer.on({
				mouseover: highlightFeature,
				mouseout: resetHighlight,
				click: (zoomToFeature, loadgrid)
			});
		}
        function onEachWayPoint(feature, layer) {
            // does this feature have a property named popupContent?
            if (feature.properties && feature.properties.Label) {
                layer.bindPopup(feature.properties.Label);
            }
        }		
    </script>
{% endblock %}	
